table {
    width: 100%;
    padding: 10px 40px;
  }

.row0{
    font-size: 15px;
    color: white;
    background-color: #ABB2B9
}

.row1{
    font-size: 15px;
    color: black;
    background-color: #FFFFFF
}